{#
vim:filetype=htmldjango:
#}
{% extends '@CRUD/edit.html.twig' %}
{% block section_body %}
<div class="action-result-container"> </div>
<form class="ajax-action form-horizontal"
    enctype="multipart/form-data"
    method="post">

    {{ CRUD.Action.renderSignatureWidget|raw }}
    {{ CRUD.Action.renderCSRFTokenWidget|raw }}

    {% if CRUD.Record.id %}
      {{CRUD.Action.renderField('id')|raw}}
    {% endif %}

    {{CRUD.Action.renderField('product_id')|raw}}
    {{CRUD.Action.renderField('title')|raw}}
    {{CRUD.Action.renderField('file')|raw}}
</form>
{% endblock %}

