{# 
vim:filetype=htmldjango
#}
{% extends '@CRUD/edit.html.twig' %}
{% set bundle = Kernel.bundle('ProductBundle') %}

{% block section_body %}
<form class="ajax-action" enctype="multipart/form-data" method="post">
    {{ CRUD.Action.renderSignatureWidget|raw }}
    {{ CRUD.Action.renderCSRFTokenWidget|raw }}

    {% if CRUD.Record.id %}
        {{ forms.hidden('id', CRUD.Record.id) }}
    {% endif %}

    {% if bundle.config('ProductFeature.image') %}
    <div class="span-6 column" style="margin: 10px;">
        <div class="feature-image-preview">
            {% if CRUD.Record.image %}
                <img class="feature-image" align="center" src="/{{ CRUD.Record.image }}"/>
            {% endif %}
        </div>
        {{ forms.label( CRUD.Record.getColumn('image').getLabel() ) }}
        {{ forms.file( 'image' ) }}
    </div>
    {% endif %}

    <div class="column">

    {{ CRUD.Action.renderField('name')|raw }}

    {% if Kernel.bundle('I18N') and bundle.config('lang') %}
        {{ CRUD.Action.renderField('lang')|raw }}
    {% endif %}

    {{ CRUD.Action.renderField('description')|raw }}

    </div>

    <div class="clear"> </div>

</form>
{% endblock %}
