{# 
vim:filetype=htmldjango
#}
{% extends '@CRUD/edit.html.twig' %}

{% macro options(padding,item,selected) %}
<option value="{{ item.id }}"  {% if item.id == selected %} selected {% endif %}>{%- for i in 0 .. padding -%}&nbsp;&nbsp;{%- endfor -%}- {{ item.name }}</option>
    {% for child in item.childs.items %}
        {{ _self.options(padding+1,child,selected) }}
    {% endfor %}
{% endmacro %}

{% set bundle = Kernel.bundle('ProductBundle') %}
{% set record = CRUD.Record %}
{% block section_body %}
    <form class="ajax-action" method="post">

        {% if bundle.config('ProductCategory.image') %}
            <div class="column span-8">
                {{ CRUD.Action.renderField('image')|raw}}
                <div class="clear"> </div>
                {{ CRUD.Action.renderField('thumb')|raw}}
                <div class="clear"> </div>
            </div>
        {% endif %}


        <div class="column span-16">
        {{CRUD.Action.renderSignatureWidget|raw}}
        {{CRUD.Action.renderCSRFTokenWidget|raw}}
        
        {% if CRUD.Record.id %}
            {{ forms.hidden('id', CRUD.Record.id) }}
        {% endif %}

        {{ CRUD.Action.renderField('name')|raw }}

        {% if bundle.config('ProductCategory.subcategory') %}
            {{CRUD.Action.renderField('parent_id')|raw}}
        {% endif %}

        {% if bundle.config('ProductCategory.handle') %}
            {{ CRUD.Action.renderField('handle')|raw}}
        {% endif %}

        {% if Kernel.bundle('I18N') and bundle.config('lang') %}
            {{ CRUD.Action.renderField('lang')|raw}}
        {% endif %}

        {% if bundle.config('ProductCategory.desc') %}
            {{ CRUD.Action.renderField('description')|raw}}
        {% endif %}

        <div class="clear"> </div>
        <div class="divider"> </div>
        <div class="collapsible collapse-section">
            {% if bundle.config('ProductCategory.file') %}
            {% include 'ProductBundle/Templates/product_category/file.html.twig' %}
            {% endif %}
            <h3>詳細資料</h3>
            <div>
                {% include '@CRUD/metadata.html.twig' %}
            </div>
        </div>

        </div>
        <div class="clear"> </div>
    </form>
{% endblock %}
