{# 
vim:filetype=htmldjango
#}
{% extends '@CRUD/edit.html.twig' %}

{% import '@CRUD/helpers.html.twig' as crud %}

{% set bundle      = Kernel.bundle('ProductBundle') %}
{% set tabfragment = 'product-' ~ random() ~ '-tabs-' ~ (CRUD.Record.id ? CRUD.Record.id : random()) %}

{% set currentFormId = uniqid('editForm') %}

{% set showProductContentTab = bundle.config('Product.desc')
          or bundle.config('Product.content') 
          or bundle.config('Product.options_content') 
          or bundle.config('Product.spec_content') 
          or bundle.config('Product.feature_content') %}

{% block section_body %}
<form class="ajax-action form-horizontal" enctype="multipart/form-data" method="post">

<div id="{{ tabfragment }}" role="tabpanel">
    <ul class="nav nav-tabs clearfix">
        <li class="active" role="presentation"><a href="#{{tabfragment}}-1" data-toggle="tab">產品資料</a></li>

        {% if bundle.config('Product.brief') %}
        <li role="presentation"><a href="#{{tabfragment}}-brief" data-toggle="tab">產品簡述</a></li>
        {% endif %}

        {% if showProductContentTab %}
        <li role="presentation"><a href="#{{tabfragment}}-content" data-toggle="tab">產品內文</a></li>
        {% endif %}

        {% if bundle.config('Product.cover_image') or bundle.config('Product.image') or bundle.config('Product.spec_image') %}
        <li role="presentation"><a href="#{{tabfragment}}-images" data-toggle="tab">產品圖片</a></li>
        {% endif %}

        {% if bundle.config('ProductResource.enable') %}
        <li role="presentation"><a href="#{{tabfragment}}-resources" data-toggle="tab">外連媒體</a></li>
        {% endif %}

        {% if bundle.config('ProductFile.enable') %}
            <li role="presentation"><a href="#{{tabfragment}}-files" data-toggle="tab">產品檔案</a></li>
        {% endif %}

        {% if bundle.config('ProductFeature.enable') %}
            <li role="presentation"><a href="#{{tabfragment}}-feature" data-toggle="tab">產品功能</a></li>
        {% endif %}

        {% if bundle.config('RelatedProduct.enable') %}
            <li role="presentation"><a href="#{{tabfragment}}-related-product" data-toggle="tab">相關產品</a></li>
        {% endif %}

        {% if bundle.config('ProductSubsection.enable') %}
            <li role="presentation"><a href="#{{tabfragment}}-subsections" data-toggle="tab">內文子區塊</a></li>
        {% endif %}

        {% if bundle.config('ProductSpecTable.enable') %}
            <li role="presentation"><a href="#{{tabfragment}}-spec-table" data-toggle="tab">產品規格表</a></li>
        {% endif %}

        {% if bundle.config('ProductLink.enable') %}
            <li role="presentation"><a href="#{{tabfragment}}-links" data-toggle="tab">相關連結</a></li>
        {% endif %}

        {% if bundle.config('ProductUsecase.enable') %}
            <li role="presentation"><a href="#{{tabfragment}}-usecase" data-toggle="tab">相關案例</a></li>
        {% endif %}


        {% for tab in CRUD.Object.getTabs %}
            <li role="presentation"><a href="#{{tab.getId()}}" data-toggle="tab">{{tab.title}}</a></li>
        {% endfor %}
    </ul>

    <div class="tab-content">

        <div id="{{tabfragment}}-1" class="tab-pane active">
            {% include '@ProductBundle/product/form.html.twig' %}
            <div class="clear"> </div>
        </div>


        {% if bundle.config('Product.brief') %}
        <div id="{{tabfragment}}-brief" class="tab-pane">
            {{CRUD.Action.renderField('brief',{ class: 'mceEditor', rows: 4, cols: 80 })|raw}}
        </div>
        {% endif %}


        {% if showProductContentTab %}
        <div id="{{tabfragment}}-content" class="tab-pane">
            {% if bundle.config('Product.desc') %}
            {{CRUD.Action.renderField('description',{ class: 'mceEditor', rows: 4, cols: 80 })|raw}}
            {% endif %}

            {% if bundle.config('Product.content') %}
            {{CRUD.Action.renderField('content',{ class: 'mceEditor', rows: 7, cols: 80 })|raw}}
            <div class="clear"> </div>
            {% endif %}

            {% if bundle.config('Product.options_content') %}
            {{CRUD.Action.renderField('options_content',{ class: 'mceEditor', rows: 7, cols: 80 })|raw}}
            <div class="clear"> </div>
            {% endif %}

            {% if bundle.config('Product.spec_content') %}
            {{CRUD.Action.renderField('spec_content',{ class: 'mceEditor', rows: 4, cols: 80 })|raw}}
            <div class="clear"> </div>
            {% endif %}

            {% if bundle.config('Product.feature_content') %}
            {{CRUD.Action.renderField('feature_content',{ class: 'mceEditor', rows: 4, cols: 80 })|raw}}
            <div class="clear"> </div>
            {% endif %}

            <div class="clear"> </div>
        </div>
        {% endif %}


        {% if bundle.config('ProductFile.enable') %}
        <div id="{{tabfragment}}-files" class="tab-pane">
            {% reactapp "CRUDHasManyEditor" with fileEditAppConfig %}
        </div>
        {% endif %}


        {% if bundle.config('ProductImage.enable') or bundle.config('Product.cover_image') or bundle.config('Product.image') or bundle.config('Product.spec_image') %}
        <div id="{{tabfragment}}-images" class="tab-pane">
            {% if bundle.config('Product.cover_image') %}
                {% include '@ProductBundle/product/cover_image.html.twig' %}
            {% endif %}

            {% if bundle.config('Product.image') %}
                {% include '@ProductBundle/product/index_image.html.twig' %}
            {% endif %}

            {% if bundle.config('ProductImage.enable') %}
                {% include '@ProductBundle/product/image.html.twig' %}
            {% endif %}

            {% if bundle.config('Product.spec_image') %}
                {% include '@ProductBundle/product/spec_image.html.twig' %}
            {% endif %}
        </div>
        {% endif %}

        {% if bundle.config('ProductResource.enable') %}
        <div id="{{tabfragment}}-resources" class="tab-pane">
            {% include '@ProductBundle/product/resource.html.twig' %}
        </div>
        {% endif %}


        {% if bundle.config('ProductFeature.enable') %}
        <div id="{{tabfragment}}-feature" class="tab-pane">
            {% include '@ProductBundle/product/feature.html.twig' %}
        </div>
        {% endif %}

        {% if bundle.config('RelatedProduct.enable') %}
        <div id="{{tabfragment}}-related-product" class="tab-pane">
            {% include '@ProductBundle/product/related.html.twig' %}
        </div>
        {% endif %}

        {% if bundle.config('ProductSpecTable.enable') %}
        <div id="{{tabfragment}}-spec-table" class="tab-pane">
            {% include '@ProductBundle/product/spec_table.html.twig' %}
        </div>
        {% endif %}

        {% if bundle.config('ProductSubsection.enable') %}
        <div id="{{tabfragment}}-subsections" class="tab-pane">
            {% include '@ProductBundle/product/subsection.html.twig' %}
        </div>
        {% endif %}

        {% if bundle.config('ProductLink.enable') %}
        <div id="{{tabfragment}}-links" class="tab-pane">
            {% include '@ProductBundle/product/link.html.twig' %}
        </div>
        {% endif %}

        {% if bundle.config('ProductUsecase.enable') %}
        <div id="{{tabfragment}}-usecase" class="tab-pane">
            {% include '@ProductBundle/product/usecase.html.twig' %}
        </div>
        {% endif %}

        {% for tab in CRUD.Object.getTabs() %}
        <div id="{{tab.getId()}}" class="tab-pane">
            {{tab.renderContent|raw}}
        </div>
        {% endfor %}
    </div><!-- /.tab-content -->

</div><!-- /.tab -->
</form>
{% endblock %}
