{#
vim:filetype=htmldjango:
#}
{% set bundle = Kernel.bundle('ProductBundle') %}
<div class="product-editor">
        {{ RecordAction.renderSignatureWidget|raw}}
        {{ RecordAction.renderCSRFTokenWidget|raw}}

        {% if Record.hasKey %}
          {{RecordAction.renderKeyWidget|raw}}
        {% endif %}


        <div class="row">
            <div class="col-md-6">
                <div class="col-field">

                {{ RecordAction.renderField('name')|raw }}
                </div>

                {% if bundle.config('Product.sn') %}
                <div class="col-field">
                {{RecordAction.renderField('sn')|raw}}
                </div>
                {% endif %}

                {% if bundle.config('Product.sn_desc') %}
                <div class="col-field">
                {{RecordAction.renderField('sn_desc')|raw}}
                </div>
                {% endif %}

                {% if bundle.config('Product.show_link') and Record.id %}
                <div class="col-field">
                    <div class="v-field">
                        <div class="label">
                            產品頁面連結
                        </div>
                        <div class="input">
                            <a class="link-holder" target="_blank" href="{{Record.getUrl()|raw}}">/product/{{ Record.id }}/{{ Record.lang }}/{{ Record.name|default('Untitled') }}</a>
                        </div>
                    </div>
                </div>
                {% endif %}

                <div class="clearfix"> </div>

                {% if bundle.config('Product.subtitle') %}
                {{ RecordAction.renderField('subtitle') |raw}}
                {% endif %}

                <div class="clearfix"> </div>

                {% if Kernel.bundle('I18N') and bundle.config('lang') %}
                <div class="col-field">
                    {{RecordAction.renderField('lang')|raw}}
                </div>
                {% endif %}


                {% if bundle.config('Product.custom_fields') %}
                  {% for field in bundle.config('Product.custom_fields') %}
                    {{RecordAction.renderField(field.name)|raw}}
                  {% endfor %}
                {% endif %}



                {% if Kernel.bundle('StatusPlugin') and bundle.config('Product.status') %}
                <div class="col-field">
                {{RecordAction.renderField('status')|raw}}
                </div>
                {% endif %}

                <div class="clearfix"> </div>


                {% if bundle.config('Product.sellable') %}
                <div class="col-field">
                    {{RecordAction.renderField('sellable')|raw}}
                </div>
                {% endif %}

                {% if bundle.config('Product.orig_price') %}
                <div class="col-field">
                    {{RecordAction.renderField('orig_price')|raw}}
                </div>
                {% endif %}

                {% if bundle.config('Product.price') %}
                <div class="col-field">
                    {{RecordAction.renderField('price')|raw}}
                </div>
                {% endif %}

                <div class="clearfix"> </div>

                {% if bundle.config('Product.cover_option') %}
                {{RecordAction.renderField('is_cover')|raw}}
                {% endif %}

                <div class="clearfix"> </div>

                {% if bundle.config('ProductCategory.enable') and not bundle.config('ProductCategory.multicategory') %}
                    {{RecordAction.renderField('category_id')|raw}}
                {% endif %}
            </div>

            <div class="col-md-3 col-md-offset-2">
                {% if bundle.config('ProductCategory.enable') and bundle.config('ProductCategory.multicategory') %}
                    {% for langcode, categories in categoriesByLang %}
                    <div class="widget lang lang-{{langcode}} {% if langcode != Kernel.locale.current() %}hide{% endif %}">
                        <div class="widget-hd">{% trans langcode %}{% trans 'Category' %}</div>
                        <div class="widget-bd" style="max-height: 400px; overflow: auto; ">
                            {% set subview = RecordAction.asView('ActionKit\\View\\StackView',{ "no_form": 1 }) %}
                            {#
                            {{ subview.renderManyToManyEditor(Record,'categories', categories) |raw}}
                            #}
                            {{ subview.buildManyToManyRelationalActionViewForExistingRecords(Record, 'categories', null, null, categories)|raw}}
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}

                {% if bundle.config('ProductTag.enable') %}
                <div class="widget">
                    <div class="widget-hd">{% trans '標籤' %}</div>
                    <div class="widget-bd">

                        {# This is a one-to-many widget, we will create input fields that maps one-to-many records to connect the many-to-many record. #}
                        <span class="tag">
                            <input type="text" placeholder="搜尋標籤..."
                                class="autocomplete autocomplete-tagging"
                                data-widget="aut"
                                data-autocomplete-source="/=/product_tag/autocomplete"
                                data-autocomplete-min-length="1"
                                data-autocomplete-delay="100"
                                data-relation="product_tags"
                                data-foreign-key="tag_id"
                                data-foreign-create-action="ProductBundle::Action::CreateTag"
                                data-foreign-record-primary-field="name"
                                data-foreign-record-primary-key="id"
                                data-delete-action="ProductBundle::Action::DeleteProductTag"
                                data-container="#productTags{{frag_serial}}"
                                data-records="{{Record.product_tags.toLabelValuePairs()|json_encode|e('html_attr')}}"
                            />
                            <i class="control control-create fa fa-plus"> </i>
                        </span>
                        <div id="productTags{{frag_serial}}"> </div>
                    </div>
                </div>
                {% endif %}

                {% if bundle.config('ProductType.enable') %}
                    <div class="widget">
                        <div class="widget-hd">{% trans '產品類型' %}</div>
                        <div class="widget-bd">
                            <ul id="productTypeList{{frag_serial}}">
                            </ul>

                            <button id="createProductType{{frag_serial}}">{% trans '新增類型' %}</button>
                        </div>
                    </div>
<script>
{% for type in Record.types %}
    ProductType.newItem({{type.toJson()|raw}}).appendTo('#productTypeList{{frag_serial}}');
{% endfor %}

$(function() {
    $('.delete-product-type').click(function() {
        var $el = $(this).parents('.product-type');
        ProductType.deleteItem($el);
        return false;
    });
    $('.edit-product-type').click(function() {
        var $el = $(this).parents('.product-type');
        ProductType.editItem($el);
        return false;
    });

    $('#createProductType{{frag_serial}}').click(function(e) {
        var $btn = $(this);
        var $wrapper = $btn.parent();
        new CRUDDialog('/bs/product_type/crud/dialog',{},{
            onSuccess: function(resp) {
                var $el = ProductType.newItem(resp.data);
                $wrapper.find('ul').prepend($el);
            }
        });
        return false;
    });
});
</script>
                {% endif %}



            </div>
        </div>


        {% if bundle.config('ProductFile.enable') %}
            {% include '@ProductBundle/product/file.html.twig' %}
        {% endif %}


        {#
        {% set mixinClass = bundle.config('Product.mixin') %}
        {% if mixinClass %}
            {% set mixinAction = Record.getMixinSchemaAction() %}
            {{ mixinAction.asView('ActionKit\\View\\StackView', {
                "no_form": true,
                "no_signature": true,
                "nested": false
                }).render() |raw}}
        {% endif %}
        #}

        <div class="clear"> </div>
        <div class="divider"> </div>

        <div class="collapsible collapse-section" {# data-collapse="persist" #}>
            {% if bundle.config('ProductProperty.enable') %}
            <h3>規格表</h3>
            <div>
                {% include '@ProductBundle/product/property.html.twig' %}
            </div>
            {% endif %}

            {% if Kernel.bundle('SEOPlugin') 
                and bundle.config('Product.seo') 
                and CRUD.Object.getModel().hasColumn('seo_keywords') 
            %}
                {% include '@SEOPlugin/fields_collapsible.html.twig' %}
            {% endif %}


            {# 外部連結 #}
            {% if bundle.config('Product.external_link') %}
                <h3>外部連結</h3>
                <div>
                    {{RecordAction.renderField('Product.external_link')|raw}}
                </div>
            {% endif %}

            <h3>其他選項</h3>
            <div>
                {# private products are accessed by token #}
                {% if bundle.config('Product.private') %}
                    {% include '@ProductBundle/product/private_token.html.twig' %}
                {% endif %}
            </div>

            <h3>詳細資料</h3>
            <div>
                {% include '@CRUD/metadata.html.twig' %}
                <div class="clear"> </div>
            </div>
        </div>
    <div class="clear"> </div>
</div>
<script>
$(function() {
    Product.initEdit();
});
</script>
