
{% set propertyfragment = 'product-properties-' ~ random() %}

<div class="{{propertyfragment}}">
    <div>
        <table>
            <thead>
                <tr>
                    <th>屬性名稱</th>
                    <th>屬性內容</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
            <tfoot>
                <tr class="insert">
                    <td>
                        <input type="text" class="new-property-name" placeholder="{% trans 'Property Name' %}"/>
                    </td>
                    <td>
                        <input type="text" size="60" class="new-property-value" placeholder="{% trans 'Property Value' %}"/>
                    </td>
                    <td>
                        <button class="add-button">
                            {% trans 'Add' %}
                        </button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<script>
$(function() {
    ProductProperty.initEditor( $('.{{propertyfragment}}') );
    {% for property in CRUD.Record.properties %}
        ProductProperty.append( $('.{{propertyfragment}}'), {{property.toJson|raw}});
    {% endfor %}
    var $tbody = $('.{{propertyfragment}} tbody');
    initSortableAction($tbody, {
        items: 'tr',
        fields: 'input.record-id',
        handle: '.handle',
        action: 'ProductBundle::Action::UpdateProductPropertyOrdering'
    });
    $tbody.disableSelection();
});
</script>
